# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Know how to perform arithmetic opertation
* Convert minutes to hours

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. SciPy
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Spyder|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
convertedtoHours = 200/60
convertedtoHours

3.3333333333333335

## Author
Abigail Tawiah